@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --animate-duration: 0.3s;
  }
body {
    font-family: 'Roboto', sans-serif;
}
.main-bg {
    background-color: #1F3F77!important;
}
.secondary-bg {
 background-color: #A61A11!important;
}
.main-btn {
    background-color: #0054A6 !important;
    color: white !important;
    margin-left: 0!important;
    margin-bottom: 0!important;

}
.secondary-btn {
    background-color: #A61A11!important;
    color: white !important;
    margin-left: 0!important;
    margin-bottom: 0!important;
}

.pagination-btn {
    background-color: #0054A6 !important;
    color: white !important;
}
.btn {
    font-weight: 600!important;
}